services:
  postgres:
    image: postgres:16-alpine
    container_name: wms-db
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: wms_db
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: root
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: